#sidesModal {
    position: relative;
  }

#leftLogin {
    position: relative;
    top: 5px;
    left: 0;
    /* z-index: 10; */
  }
  
  #rightRegis {
    position: absolute;
    text-align: center;
    top: 5px;
    right: 0;
  }

  .headerModalBG{
    background-image: url('../../image/loginHeaderC.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .modalBG{
    background-color: transparent !important;
  }
  
  .modalFooter{
    text-align: center;
    padding-bottom: 2%;
  }
  
  .modal-body{
    background-color: white;
  }

  .element-BtLogin {
    /* background-color: goldenrod; */
    color: dimgray;
    border: none;
    border: none;
    padding: 0 10px 0 10px;
    background-color: white;
    clip-path: polygon(0 0, calc(100% - 15%) 0%, 100% 100%, 0 100%);
    transition: 250ms;
  }
  
  .element-BtLogin:hover {
    color: white;
    border: none;
    padding: 0 10px 0 10px;
    background-color: orange;
    clip-path: polygon(0 0, calc(100% - 15%) 0%, 100% 100%, 0 100%);
    transition: 250ms;
  }
  
  .element-BtRegis {
    color: white;
    border: none;
    padding: 0 10px 0 10px;
    background-color: dimgray;
    clip-path: polygon(0 0, 100% 0%, 100% 100%, calc(100% - 88%) 100%);
    transition: 250ms;
  }
  
  .element-BtRegis:hover {
    /* background-color: goldenrod; */
    color: white;
    border: none;
    padding: 0 10px 0 10px;
    background-color: orange;
    clip-path: polygon(0 0, 100% 0%, 100% 100%, calc(100% - 88%) 100%);
    transition: 250ms;
  }

  .element-FormCancel {
    /* background-color: goldenrod; */
    color: white;
    border: none;
    border: none;
    padding: 0 10px 0 10px;
    background-color: dimgray;
    clip-path: polygon(0 0, calc(100% - 15%) 0%, 100% 100%, 0 100%);
    transition: 250ms;
  }
  
  .element-FormCancel:hover {
    color: white;
    border: none;
    padding: 0 10px 0 10px;
    background-color: silver;
    clip-path: polygon(0 0, calc(100% - 15%) 0%, 100% 100%, 0 100%);
    transition: 250ms;
  }
  .element-FormDelete {
    /* background-color: goldenrod; */
    color: white;
    border: none;
    border: none;
    padding: 0 10px 0 10px;
    background-color: dimgray;
    clip-path: polygon(0 0, calc(100% - 15%) 0%, 100% 100%, 0 100%);
    transition: 250ms;
  }
  
  .element-FormDelete:hover {
    color: white;
    border: none;
    padding: 0 10px 0 10px;
    background-color: silver;
    clip-path: polygon(0 0, calc(100% - 15%) 0%, 100% 100%, 0 100%);
    transition: 250ms;
  }
  
  .element-FormEdit {
    color: white;
    border: none;
    padding: 0 10px 0 10px;
    background-color: orange;
    clip-path: polygon(0 0, 100% 0%, 100% 100%, calc(100% - 88%) 100%);
    transition: 250ms;
  }
  
  .element-FormEdit:hover {
    /* background-color: goldenrod; */
    color: white;
    border: none;
    padding: 0 10px 0 10px;
    background-color: silver;
    clip-path: polygon(0 0, 100% 0%, 100% 100%, calc(100% - 88%) 100%);
    transition: 250ms;
  }
/* in modal */

  .element-FormLogin {
    color: white;
    border: none;
    padding: 0 10px 0 10px;
    background-color: orange;
    clip-path: polygon(0 0, 100% 0%, 100% 100%, calc(100% - 88%) 100%);
    transition: 250ms;
  }
  
  .element-FormLogin:hover {
    /* background-color: goldenrod; */
    color: white;
    border: none;
    padding: 0 10px 0 10px;
    background-color: silver;
    clip-path: polygon(0 0, 100% 0%, 100% 100%, calc(100% - 88%) 100%);
    transition: 250ms;
  }

  #leftForm {
    position: relative;
    /* right: 250px; */
    left: 0;
    /* z-index: 10; */
  }
  
  #rightForm {
    position: absolute;
    /* left: 0; */
    right: 0;
  }